{"name":"kconfig-represent","vers":"0.0.1","deps":[{"name":"kconfig-parser","req":">=0.0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"86df8983e30cedfa5ada4ea9dbf24d64e1d128a826ebbd1cb6638e0cc7dd929a","features":{},"yanked":false,"links":null}
{"name":"kconfig-represent","vers":"0.0.2","deps":[{"name":"kconfig-parser","req":">=0.0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"cc99e7013b898042944d9395172fbb96f2340be34cc8b615db665e831b2be59f","features":{},"yanked":false,"links":null}
