{"name":"codeowners","vers":"0.1.0","deps":[{"name":"glob","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"regex","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"lazy_static","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"0663e55ddf27501fcf8a77d4dce0a9fcca002a83cf284df16e15aa09f98972c0","features":{},"yanked":false}
